@font-face {
  font-family: 'FontAwesome';
  src: url('http://netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts/fontawesome-webfont.eot?v=4.0.3');
  src: url('http://netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg'), url('http://netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('http://netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('http://netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v7/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@import "bower_components/normalize-css/normalize.css";
@import "bower_components/suit-base/base.css";
@import "bower_components/suit-utils-dimension/dimension.css";
@import "bower_components/suit-utils-text/text.css";
@import "bower_components/suit-grid/grid.css";

body {
  background: url(images/low_contrast_linen.png);
}

.Title {
  color: #222;
  font: 11em 'Myriad W01 Regular';
  position: absolute;
  text-shadow: 0 2px 3px #555;
  top: 10%;
  opacity: 0.8;
}

.View {
  perspective: 50em;
  transform-style: preserve-3d;
  position: absolute;
  bottom: 20%;
  width: 100%;
}

@import "button.css";
@import "socialbutton.css";

@media screen and (max-width: 65em) {
  body, .SocialButton {
    font-size: 0.65em;
  }
}

@media screen and (max-width: 40em) {
  body {
    font-size: 0.3em;
  }

  .v1-u-sizeFill {
      display: block !important;
      margin-bottom: 1em;
      width: auto !important;
  }
}
